<div style="display: flex;justify-content: center;background-color: darkgray;">
    <div style="width: 900px;">
        <div style="margin-top: 40px;">
            <div class="card text-white bg-info mb-3" style="max-width: 100%;margin-top: 15px;">
                <div class="card-header" style="text-align: center;">Bienvenido</div>
                <div class="card-body">
                  <h5 class="card-title"  style="text-align: center;">Selecciona el método</h5>
                  <p class="card-text"  style="text-align: center;">para autenticarte</p>
                </div>
              </div>
              <div style="text-align: center;">
                <button type="button" (click)="logearConGoogle()" style="background-color: white; margin-right: 10px;margin-bottom: 20px;" class="btn btn-outline-primary"><h4><span style="color:rgb(50, 50, 211)">G</span><span style="color:rgb(189, 45, 45)">o</span><span style="color:rgb(231, 207, 69)">o</span><span style="color:rgb(50, 50, 211)">g</span><span style="color:green">l</span><span style="color:rgb(189, 45, 45)">e  </span><img src="https://images.theconversation.com/files/93616/original/image-20150902-6700-t2axrz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip" style="height: 26px;width: 26px;"></h4></button>
                <button type="button" (click)="logearConGithub()" style="background-color: white; margin-left: 10px;margin-bottom: 20px;" class="btn btn-outline-success"><h4><span style="color:black">GitHub  </span><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="height: 26px;width: 26px;"></h4></button>
              </div>
        </div>
    </div>
</div>