<div style="display: flex;justify-content: center;background-color: darkgray;">
    <div style="width: 900px;">
        <app-carusel></app-carusel>
          <div class="card text-white bg-info mb-3" style="max-width: 100%;margin-top: 15px;">
            <div class="card-header" style="text-align: center;">Bienvenido</div>
            <div class="card-body">
              <h5 class="card-title"  style="text-align: center;">Tenemos todo para ti</h5>
              <p class="card-text"  style="text-align: center;">Contáctanos y cuéntanos qué necesitas</p>
            </div>
          </div>
        <app-productos [productos]="productos"></app-productos>
    </div>
</div>

